<div class="sidebar">
    <h2>Commissions</h2>
    <ul class="nav flex-column">
        <li class="nav-item">
            <a class="nav-link active" href="#"><i class="fas fa-home"></i> Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-link"></i> Link 1</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-link"></i> Link 2</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-link"></i> Link 3</a>
        </li>
    </ul>
</div>
