@page "/home"

@using FrontEnd_GraphQL.Shared



<PageTitle>Home</PageTitle>

<div class="content">
    <h2>Main Content</h2>
    <p>This is the main content area. It expands to fill the remaining space after the sidebar.</p>
</div>